@model IEnumerable<Producer>

@{
    ViewData["Title"] = "List of Producers";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table text-center">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.FullNname)</th>
                    <th>@Html.DisplayNameFor(model => model.BioInformation)</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullNname" style="max-width: 150px;">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayNameFor(modelItem => item.FullNname)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => @item.BioInformation)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> Edit </a> |
                            <a class="btn btn-outline-info"><i class="bi bi-eye"></i> Details </a> |
                            <a class="btn btn-danger text-white" href="#"> <i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
